zaklang
typeTest
*.log
*.aux
*.hi
*.o
*.dvi
*.bak
*.x
*.y
AbsZaklang.hs
DocZaklang.tex
DocZaklang.txt
ErrM.hs
LexZaklang.hs
Lexzaklang.hs
ParZaklang.hs
Parzaklang.hs
PrintZaklang.hs
SkelZaklang.hs
TestZaklang.hs
